 @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

 body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: hsl(210, 46%, 95%);
  margin: 0;
 }

 main {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
 }

 .container {
  display: grid;
  gap: 35px;
  grid-template-columns: 270px 285px 270px 280px;
  grid-template-rows: 300px 295px;
 }

 img {
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  float: left;
  width: 30px;
  margin: 5px 20px 0px -5px;
 }

 .borda {
  border-radius: 10px;
  padding: 25px 35px 35px 35px;
 }

 .titulo h1, span {
  margin-bottom: 2px;
  font-size: 1em;
  margin-top: 0px;
 }

 .titulo span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9em;
 }

 h2 {
  font-size: 1.3em;
  font-weight: 700;
 }

 .daniel {
  color: white;
  background-color: hsl(263, 55%, 52%);
  background-image: url("img/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: 375px 2px;
  grid-column-start: 1;
  grid-column-end: 3;
 }

 p {
  font-size: 0.9em;
  line-height: 20px;
 }

 .daniel p, .jonathan p, .patrick p {
  color: rgba(255, 255, 255, 0.5);
 }

 .jonathan {
  color: white;
  background-color: hsl(217, 19%, 35%);
  grid-column-start: 3; 
  grid-column-end: 4; 
 }

 .jeanette {
  color: hsl(217, 19%, 35%);
  background-color: #fff;
  grid-column-start: 1; 
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
 }

 .jeanette span, .kira span {
  color: hsl(217, 19%, 75%);
 }

 .jeanette p, .kira p {
  color: hsl(217, 19%, 50%);
 }

 .patrick {
  color: white;
  background-color: hsl(219, 29%, 14%);
  grid-column-start: 2; 
  grid-column-end: 4;
  grid-row-start: 2; 
  grid-row-end: 3;
 }

 .patrick img {
  border: 2px solid hsl(263, 55%, 52%);
 }

 .kira {
  color: hsl(217, 19%, 35%);
  background-color: #fff;
  grid-column-start: 4; 
  grid-column-end: 5;
  grid-row-start: 1; 
  grid-row-end: 3;
 }

/* ---- footer ---- */

 footer {
  font-size: 0.9em;
  color: hsl(217, 19%, 35%);
  position: fixed;
  padding: 5px 0px;
  bottom: 0px;
  width: 100%;
  text-align: center; 
}

footer a {
  text-decoration: none;
  color: hsl(263, 55%, 60%);
}

footer a:hover {
  color: hsl(219, 29%, 14%);
}

/* ---- mobile ---- */

@media (max-width: 1200px) {

  body {
    margin: 0 auto;
    margin-top: 50px;
    width: 350px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

   .daniel {
    background-position: 213px 2px;
  }

  p {
    margin: 0;
  }

  footer {
    position: unset;
    padding: 20px 20px 20px 0px;
  }

}
